#propiedes{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
   

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    box-shadow: rgb(150, 150, 150) 5px 5px 10px; /*inset*/
    
    background: rgba(16, 55, 175, .6);

    /* -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1); */

    /* -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg); */

    /* -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg); */

    /* -moz-transform: skewX(10deg);
    -moz-transform: skewY(20deg); */
    /* -webkit-transform: skewX(10deg);
    -webkit-transform: skewY(20deg); */

    /* -moz-transform: translate(100px);
    -webkit-transform: translate(100px); */

    /* -moz-transform: translateX(100px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(100px);
    -webkit-transform: translateX(200px); */

    /* -moz-transform: translateY(100px) rotate(0) scaleX(0.9);

    -webkit-transform: translateY(100px) rotate(0) scaleX(0.9); */

    -moz-transition: -moz-transform 10s ease-in-out .5s ;
    -webkit-transition: -webkit-transform 10s ease-in-out .5s ;
}

#propiedes:hover{
    -moz-transform: rotate(15deg); -webkit-transform: rotate(15deg);
}

#propTitulo{
    font: bold 36px Fuente2, verdana, sans-serif;
    text-shadow: rgb(195, 91, 16) 3px 3px 5px;
}